.chat-container{
    position: relative;
    display: flex;
    justify-content: center;
    width: 90%;
    height: 100vh;
}

.chat{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 70%;
    height: 75vh;
    padding-top: 50px;
    overflow-y: scroll;
    list-style: none;
    /* background-color: rgb(55, 55, 148); */
}