.nav-chat{
    position: relative;
    display: flex;
    align-items: center;
    width: 90%;
    height: 20px;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--background-color);
    font-size: 15px;
    filter: brightness(0.8);
    transition: all 300ms;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
}

.nav-chat:hover{
    filter: brightness(1);
}

.delete-chat{
    position: absolute;
    right: 5px;
    width: 15px;
    height: 15px;
    text-align: center;
    font-size: 15px;
    color: red;
    border-radius: 3px;
}

.delete-chat:hover{
    background-color: white;
}