.message{
    font-size: 18px;
    padding: 10px;
    border-radius: 15px;
}

.user{
    background-color: var(--background-light);
    align-self: flex-end;
}

.system{
    display: flex;
    /* flex-direction: column; */
    align-self: flex-start;
    gap: 10px;
    width: 90%;
}